<div class="container-fluid">
  <div class="row p-4 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
        <div class="m-3 text-center ">
          <img class="img-fluid b-radius-100 d-none d-md-block m-auto" src="/assets/ar-con-abstract.png" alt="">
          <div class="m-3 text-center">
            <h5>Breve descripción</h5>
            <p class="m-0">
              <i>¡Hola! Me alegra que hayas ingresado a mi portafolio web.</i>
            </p>
            <p class="m-0">
              <i>
                Y por esto, me presento. Mi nombre es Ariel, tengo 29 años y estoy finalizando mi curso de Desarrollador Full Stack Jr.
                brindado por Argentina Programa.
              </i>
            </p>
            <p class="mt-0">
              <i>
                Desde que he comenzado la programación, me ha fascinado la cantidad de ramas para escoger,
                la cantidad de tecnologías, y las soluciones que se pueden dar gracias a esto para satisfacer
                las demandas del sector productivo.
              </i>
            </p>
          </div>

        </div>
    </div>
    <div class="col-md-6 d-flex flex-row">
      <div class="row">
        <div *ngFor="let tecnology of tecnologies; let i = index;" class="col-md-4 col-6">
          <ng-container *ngIf="i <= 6">
            <!-- orange -->
            <div class="clearfix">
              <div class="c100 p{{ tecnology.level }} dark orange ">
                  <span class="pt-2 tecnology-about" (click)="openModal(i)" >
                    <i class="{{ 'fa-2x text-dark' + ' ' + tecnology.icon_class }}"></i>
                  </span>
                  <div class="slice tecnology-about">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<i data-bs-toggle="modal" data-bs-target="#exampleModal" #open></i>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Descripción de {{ tecnologies[index].name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <div class="row">
          <i class="{{ 'text-center text-bg-white fa-7x pl-3' + ' ' + tecnologies[index].icon_class }}"></i>
        </div>
        <!-- Name -->
        <h2 class="card-title">{{ tecnologies[index].name }}</h2>
        <!-- Description -->
        <p class="card-text">{{ tecnologies[index].description }}</p>
        <!-- Level -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="(tecnologies[index].level)" [attr.aria-valuenow]="tecnologies[index].level" aria-valuemin="0" aria-valuemax="100">{{ tecnologies[index].level }} / 100</div>
        </div>
      </div>
      <!-- <div class="modal-footer border-top-0"> -->
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
