/* @import "../../../assets/css/percentaje-chart.css"; */
.title-cards::after{
  content: "Estudios";
  width: 10px;
  border-bottom: 4px solid #ffb633;
}

.bg-studies{
  background-color: #111;
}

.style-card-study{
  border: 2px solid #fff;
  border-radius: 1rem;
  transition: 1s;
  cursor: pointer;
}

.shadow-element-study{
  box-shadow: 2px 2px 10px #000;
}

.style-card:hover{
  transform: scale(1.02);
  transition: 1s;
}
