<div class="row">
  <div class="col-md-3">
    <img class="img-fluid " style="max-width: 150px;" src="/assets/images/icons-svg/APLogo-20-20.png" alt="">
    <button class="btn btn-outline-warning d-md-none float-end">Ingresar</button>
  </div>
  <div class="col-md-9 d-flex align-items-center justify-content-end">
    <!-- <div class="row d-flex flex-row h-100 text-end justify-content-end align-items-center" style="flex-wrap: no-wrap;"> -->
      <div class="d-inline d-flex flex-row justify-content-end ">
        <a [routerLink]="['/']" class="m-1 p-2 d-none d-md-block opacity-75" style="flex-wrap: no-wrap;">Inicio</a>
        <a [routerLink]="['/sobre-mi']" class="m-1 p-2 d-none d-md-block opacity-75" style="flex-wrap: no-wrap;">Sobre mí</a>
        <a [routerLink]="['/tecnologias']" class="m-1 p-2 d-none d-md-block opacity-75" style="flex-wrap: no-wrap;">Tecnologías</a>
        <a [routerLink]="['/estudios']" class="m-1 p-2 d-none d-md-block opacity-75" style="flex-wrap: no-wrap;">Estudios</a>
        <a [routerLink]="['/experiencia']" class="m-1 p-2 d-none d-md-block opacity-75" style="flex-wrap: no-wrap;">Experiencia</a>
        <a  [routerLink]="['/login']" class="btn btn-outline-warning d-none d-md-block">Ingresar</a>
        <a  class="btn btn-outline-warning d-none d-md-block">Cerrar Sessión</a>
      </div>
  </div>

</div>
