<div class="container">

  <div class="row">
    <div class="row my-5">
      <h2 class="text-center title-cards">

      </h2>
    </div>
    <div *ngIf="!tecnologies" >
      <p>Cargando...</p>
    </div>
    <div class="row" *ngIf="editable">
      <div class="offset-md-11 col-md-2">
        <button (click)="clearForm()" type="button" class="btn bg-success bg-gradient  text-white shadow" data-bs-toggle="modal" data-bs-target="#FormModal" title="Agregar">
          <i class="fa-solid fa-plus"></i>
          AGREGAR
        </button>
      </div>
    </div>

    <div class="row gx-2">
      <div class="col-md-6" *ngFor="let tecnology of tecnologies; let i = index">
        <!-- Tecnology -->
        <div class="card mb-3 m-3 bg-dark border-0">
          <div class="row bg-dark style-card shadow-element">
            <!-- Button trigger modal -->
            <div class="row mt-2" *ngIf="editable">
              <div class="offset-10 col-md-2 text-end row position-relative">
                <div class="col-md-6 position-absolute float-start">
                  <button (click)="goEdit(i, false)" type="button" class="btn btn-sm bg-success bg-gradient py-0 px-1 m-1" data-bs-toggle="modal" data-bs-target="#FormModal" title="Editar">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </div>
                <div class="col-md-6 position-absolute offset-md-5">
                  <button (click)="goDelete(tecnology.id, tecnology.name)" type="button" class="btn btn-sm bg-danger bg-gradient py-0 px-1 m-1" title="Eliminar">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4 text-center p-3 d-flex flex-column justify-content-center">
              <i class="{{ tecnology.icon_class }}"></i>
            </div>
            <div class="col-8" >
              <div class="card-body mt-2 mb-0" style="overflow: auto; height: 12rem;">
                <!-- Name -->
                <h5 class="card-title">
                  {{ tecnology.name }}
                </h5>
                <!-- Description -->
                <p class="card-text" style="tab-size: .1rem;">{{ tecnology.description }}</p>
                <!-- Level -->

                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="(tecnology.level)" [attr.aria-valuenow]="tecnology.level" aria-valuemin="0" aria-valuemax="100">{{ tecnology.level }} / 100</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="FormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 *ngIf="!is_create" class="modal-title fs-5" id="FormModalLabel">Editar Tecnología</h1>
        <h1 *ngIf="is_create" class="modal-title fs-5" id="FormModalLabel">Crear Tecnología</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="form">
          <!-- Name -->
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="">
            <label for="name">Título</label>
          </div>
          <!-- Description -->
          <div class="form-floating mb-3">
            <textarea formControlName="description" class="form-control" placeholder="" id="description"></textarea>
            <label for="description">Descripción</label>
          </div>
          <!-- Level -->
          <div class="form-floating mb-3">
            <input formControlName="level" type="number" min="0" max="100" class="form-control" id="level" placeholder="">
            <label for="level">Nivel</label>
          </div>

          <!-- Icons -->
          <div class="form-floating">
            <select formControlName="icon_class" class="form-select" id="icons" aria-label="Iconos">
              <option selected disabled>Iconos</option>
              <ng-container *ngFor="let icon of icons; index as i">
                <option  value="{{ icon.class }}" [attr.selected]="icon.class == icon_class_selected" >{{ i }}. {{ icon.name | titlecase }}</option>
              </ng-container>
            </select>
            <label for="icons">Iconos</label>
          </div>
        </form>
        <br>
        <!-- {{ form.value | json }} -->
      </div>
      <div class="modal-footer">
      <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button *ngIf="!is_create" (click)="updateForm()" onclick="this.modal('hide')" type="button" class="btn btn-primary">Modificar</button>
        <button *ngIf="is_create" (click)="createForm()" type="button" class="btn btn-primary">Crear</button>
      </div>
    </div>
  </div>
</div>

