<div class="container-fluid">
  <div class="row p-4 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
        <div class="m-3 text-center">
          <img class="img-fluid b-radius-100" src="/assets/ar-con-abstract.png" alt="">
        <div class="m-3 text-center text-white">
          <h5>Breve descripción</h5>
          <p class="m-0">
            <i>¡Hola! Me alegra que hayas ingresado a mi portafolio web.</i>
          </p>
          <p class="m-0">
            <i>
              Y por esto, me presento. Mi nombre es Ariel, tengo 29 años y estoy finalizando mi curso de Desarrollador Full Stack Jr.
              brindado por Argentina Programa.
            </i>
          </p>
          <p class="mt-0">
            <i>
              Desde que he comenzado la programación, me ha fascinado la cantidad de ramas para escoger,
              la cantidad de tecnologías, y las soluciones que se pueden dar gracias a esto para satisfacer
              las demandas del sector productivo.
            </i>
          </p>
        </div>

        </div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <div class="row d-flex justify-content-center">
        <div class="card text-bg-dark mb-3 mx-2" style="max-width: 10rem; max-height: 10rem; overflow-y: scroll;">
          <div class="card-header "><h5 class="card-title">LARAVEL</h5></div>
          <div class="card-body">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3 mx-2" style="max-width: 10rem; max-height: 10rem; overflow-y: scroll;">
          <div class="card-header "><h5 class="card-title">ANGULAR</h5></div>
          <div class="card-body">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3 mx-2" style="max-width: 10rem; max-height: 10rem; overflow-y: scroll;">
          <div class="card-header "><h5 class="card-title text-center">CSS</h5></div>
          <div class="card-body">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="card text-bg-dark mb-3 mx-2" style="max-width: 10rem; max-height: 10rem; overflow-y: scroll;">
          <div class="card-header "><h5 class="card-title">LARAVEL</h5></div>
          <div class="card-body">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3 mx-2" style="max-width: 10rem; max-height: 10rem; overflow-y: scroll;">
          <div class="card-header "><h5 class="card-title">ANGULAR</h5></div>
          <div class="card-body">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3 mx-2" style="max-width: 10rem; max-height: 10rem; overflow-y: scroll;">
          <div class="card-header "><h5 class="card-title text-center">CSS</h5></div>
          <div class="card-body">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
