<div class="login container" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sessión</h2>
</div>

<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Iniciar Sessión</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Crear Cuenta</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-floating mb-3">
            <input [(ngModel)]="username" name="username" type="email" class="form-control" id="floatingInput" placeholder="Nombre de Usuario">
            <label for="floatingInput">Nombre de Usuario</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!f.valid">Iniciar Sessión</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>


