<div class="container-fluid bg-principal">

  <!-- Navbar -->
  <div class="container">
    <app-navbar></app-navbar>
  </div>

  <!-- Principal -->
  <div class="container">
    <app-principal></app-principal>
  </div>
</div>

<!-- About Me -->
<div class="container-fluid bg-tecnologies py-5">
  <app-aboutme></app-aboutme>
</div>

<!-- Tecnologies -->
<div class="container-fluid bg-principal py-5">
    <app-tecnologies></app-tecnologies>
</div>

<!-- Studies -->
<div class="container-fluid bg-tecnologies py-5">
  <app-studies></app-studies>
</div>

<!-- Experiences -->
<div class="container-fluid bg-principal py-5">
  <app-experiences></app-experiences>
</div>

<div class="container-fluid bg-dark">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
