<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h1>ARIEL A. MUÑOZ</h1>
          <p>
            Programador Full Stack Jr.
          </p>
          <div class="row d-none d-md-block">
            <div class="row d-flex justify-content-center m-auto">
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">Angular</button>
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">Spring Boot</button>
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">API REST</button>
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">Laravel</button>
            </div>
            <div class="row d-flex justify-content-center m-auto">
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">JavaScript</button>
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">CSS</button>
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">JAVA</button>
                <button class="btn btn-sm btn-outline-warning mx-2 my-1 btn-tecnologies">PHP</button>
            </div>
          </div>
        </div>

    </div>
    <div class="col-md-6">
      <div class="col-md-9">
        <div class="m-3" style="border-bottom: 1px solid #433a44;">
          <img class="img-fluid" style="filter: drop-shadow(0px 0px 25px rgba(255,255,255,.2));" src="/assets/ar-con-abstract.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
