/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.bg-principal{
  background-color: #2b2c2d !important;
}

body{
  background-color: #2b2c2d !important;
  min-height: 100vh;
}

.bg-tecnologies{
  background-color: #303231;
}

h1, h2, h3, h4, h5, h6, span, p, b, i, a, svg{
  color: #fff !important;
}

.swal2-title{
  /* color: #303231 !important; */
}

.swal2-popup{
  background-color: #303231 !important;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.custom-scrollbar {
  scrollbar-width: thin;
}

.custom-scrollbar {
  /* scrollbar-color: #6969dd #e0e0e0; */
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%); */
  background-image: #333;
  /* box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5); */
  border-radius: 100px;
}
